In [1]:
import numpy as np 
import pandas as pd

In [2]:
def mismatche_matrix_to_df(mismatch_m,seq_names):
    return pd.DataFrame(data=mismatch_m, columns=seq_names ,index=seq_names)

In [4]:
m = np.array([[0,3,4,9],
             [3,0,2,4],
             [4,2,0,4],
             [9,4,4,0]])
seq_names = ['A','B','C','D']

mismatche_matrix_to_df(m,seq_names)

   A  B  C  D
A  0  3  4  9
B  3  0  2  4
C  4  2  0  4
D  9  4  4  0